body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}
#calculator-container {
    border-radius: 25px;
    border: 1px solid #6C8EBF;
    background-color: #DAE8FC;
    padding: 20px;
    width: 200px;
    height: 250px;
}
#button-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen {
    border-radius: 25px;
    border: 1px solid #36393D;
    background-color: #EEEEEE;
    padding: 20px;
    width: 150px;
    text-align: end;
}
#screen-buttons {
    display: flex;
}
#operation-container {
    display: flex;
}
