body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#button-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen-buttons {
    display: flex;
}
#operation-container {
    display: flex;
}
